@page
@model SibSalamat.Models.PharmacyDrug

<h2>Add Pharmacy Drug</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductNumber">ProductNumber:</label>
        <input asp-for="ProductNumber" class="form-control"/>
        <span asp-validation-for="ProductNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fee">Fee:</label>
        <input asp-for="Fee" class="form-control"/>
        <span asp-validation-for="Fee"></span>
    </div>
    <div class="form-group">
        <label asp-for="Count">Count:</label>
        <input asp-for="Count" class="form-control"/>
        <span asp-validation-for="Count"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image:</label>
        <input type="file" asp-for="Image" class="form-control-file"/>
        <span asp-validation-for="Image"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Save</button>
</form>