@model SibSalamat.Models.Visit;
@{
    ViewData["Title"] = "Request Visit";
}

<link rel="stylesheet" href="https://cdn.dhtmlx.com/gantt/7.1.12/skins/dhtmlxgantt_material.css">
<script src="https://cdn.dhtmlx.com/gantt/7.1.12/dhtmlxgantt.js"></script>

<h2>Request a Visit</h2>

<div id="gantt_here" style="width: 100%; height: 400px;"></div>