@* @model SibSalamat.Views.Account.SignUpViewModel *@
@model SibSalamat.Models.Admin
@{
    ViewData["Title"] = "SignUp";
}
<h2>SignUp Section</h2>
<form method="post">
    <div class="form-group">
        <label for="inputUsername">نام کاربری</label>
        <input type="text" name="Name" class="form-control" placeholder="نام کاربری"/>
    </div>
    <div class="form-group">
        <label for="inputPassword">رمز عبور</label>
        <input type="password" name="Password" class="form-control" placeholder="رمز عبور"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">ایمیل</label>
        <input type="email" name="Eٍٍmail" class="form-control" placeholder="ایمیل"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">نظام پزشکی</label>
        <input  name="NezamPezeshki" class="form-control" placeholder="نظام پزشکی"/>
    </div>
    <button type="submit" class="btn btn-primary " style="padding-top: 15px; margin-top: 20px">ثبت نام</button>
</form>