@model SibSalamat.Models.Admin
@{
    ViewData["Title"] = "ثبت نام داروخانه";
    var errorMessage = TempData["ErrorMessage"] as string;
}
<style>
      .centered-container {
             display: flex;
             justify-content: center;
             align-items: center;
             height: 100vh;
         }
         .form-container {
             background-color: rgb(0 0 0 / 66%); 
             border-radius: 15px;
             box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
             width: 346px;
             text-align: center;
             padding: 20px 20px 40px;
             margin-top: -45px;
         }
 </style>

<div class="centered-container">
    <div class="form-container">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        <h2>ثبت نام</h2>
        <form method="post"/>
        <div class="form-group">
            <label asp-for="Name">نام کاربری</label>
            <input type="text" asp-for="Name" class="form-control" id="inputUsername" placeholder="نام کاربری"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">رمز عبور</label>
            <input type="password" asp-for="Password" class="form-control" id="inputPassword" placeholder="رمز عبور"/>
        </div>
        <div class="form-group">
            <label asp-for="Email">ایمیل</label>
            <input type="email" asp-for="Email" class="form-control" id="inputEmail" placeholder="ایمیل"/>
        </div>
        <div class="form-group">
            <label asp-for="NezamPezeshki">نظام پزشکی</label>
            <input asp-for="NezamPezeshki" class="form-control" id="NezamPezeshki" placeholder="نظام پزشکی"/>
        </div>
        <div class="form-group">
            <label asp-for="City">شهر</label>
            <input asp-for="City" class="form-control" id="City" placeholder="شهر"/>
        </div>
        <button type="submit" class="btn btn-primary" style="padding-top: 15px; margin-top: 20px">ثبت نام</button>
    </div>
</div>