@using SibSalamat.Controllers
@model SibSalamat.Views.Account.UserPanelViewModel

@{
    ViewData["Title"] = "حساب کاربری";
}

<div class="centered-container">
    <div class="content">
        <h2>حساب کاربری شما</h2>

        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("DisplayAllPills", "Account")" class="btn btn-pink btn-block">خرید دارو</a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Payment", "Account")" class="btn btn-blue btn-block">صورت حساب</a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("userLogOut", "Account")" class="btn btn-outline-danger btn-block">خروج</a>
            </div>
            <div class="col-md-4">
                <p class="credit-text">Credit: @Model.Credit</p>
            </div>
        </div>
    </div>
</div>