@model SibSalamat.Views.Account.UserPanelViewModel

@{
    ViewData["Title"] = "حساب کاربری";
}

<div class="centered-container">
    <div class="content">
        <h2>حساب کاربری شما</h2>
        <p class="italic">Credit is: @Model.Credit</p>

        @Html.ActionLink("خرید دارو",
            "DisplayAllPills",
            "Account",
            null,
            new { @class = "btn btn-primary" })
        @Html.ActionLink("صورت حساب",
            ""
            )
    </div>
</div>