@model SibSalamat.Models.User
@{
    ViewData["Title"] = "ثبت نام کاربری";
}
<body>
<div class="centered-container">
    <div class="form-container">
        <h2>ثبت نام</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">نام کاربری</label>
                <input type="text" asp-for="Name" class="form-control" id="inputUsername" placeholder="نام , نام خانوادگی "/>
            </div>
            <div class="form-group">
                <label asp-for="Password">رمز عبور</label>
                <input type="password" asp-for="Password" class="form-control" id="inputPassword" placeholder="رمز عبور"/>
            </div>
            <div class="form-group">
                <label asp-for="Email">ایمیل</label>
                <input type="email" asp-for="Email" class="form-control" id="inputEmail" placeholder="ایمیل"/>
            </div>
            <div class="form-group">
                <label asp-for="City">شهر</label>
                <input asp-for="City" id="NationalCode" class="form-control" placeholder="شهر"/>
            </div>

            <div class="form-group">
                <label asp-for="NationalCode">کدملی</label>
                <input asp-for="NationalCode" id="NationalCode" class="form-control" placeholder="کدملی"/>
            </div>

            <button type="submit" class="btn btn-primary click-btn" style="padding-top: 15px; margin-top: 20px">ثبت نام</button>
        </form>
    </div>
</div>
</body>