@model SibSalamat.Models.User
@{
    ViewData["Title"] = "user SignUp";
}
<h2>user SignUp Section</h2>
<form method="post">
    <div class="form-group">
        <label for="inputUsername">نام کاربری</label>
        <input type="text" name="Name" class="form-control" id="inputUsername" placeholder="نام , نام خانوادگی "/>
    </div>
    <div class="form-group">
        <label for="inputPassword">رمز عبور</label>
        <input type="password" name="Password" class="form-control" id="inputPassword" placeholder="رمز عبور"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">ایمیل</label>
        <input type="email" name="Eٍٍmail" class="form-control" id="inputEmail" placeholder="ایمیل"/>
    </div>
    <div class="form-group">
        <label for="NationalCode">کدملی</label>
        <input name="NationalCode" id="NationalCode" class="form-control" placeholder="کدملی"/>
    </div>


    <button type="submit" class="btn btn-primary " style="padding-top: 15px; margin-top: 20px">ثبت نام</button>
</form>