@{
    ViewData["Title"] = "صفحه اصلی";
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>صفحه اصلی</title>
</head>
<body>
<header>
    <h1>داروخانه آنلاین شما</h1>
</header>
<section>
    <div class="search-bar gradient-corners">
        <input type="text" class="search-input" placeholder="جستجو دارو..."/>
        <button class="search-button">جستجو </button>
    </div>
</section>


<nav>
    <ul>
        <li>
            <a href="#">خانه</a>
        </li>
        <li>
            <a href="#">داروخانه</a>
        </li>
        <li>
            <a href="#">مشتری</a>
        </li>
    </ul>
</nav>

<section>
    <h2>خوش آمدید به فارماسیب - داروخانه آنلاین</h2>
    <p>در فارماسیب، می‌توانید داروهای مورد نیاز خود را به راحتی سفارش دهید و تحویل بگیرید.</p>
</section>

<footer>
    <p>تمامی حقوق این وب‌سایت محفوظ است.</p>
    <p> Mammad Fatemi & Matin Aminsabouri</p>
</footer>
</body>
</html>