@{
    ViewData["Title"] = "صفحه اصلی";
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="css/Home.css"/>
</head>
<body>
<header>
    <h1>داروخانه آنلاین شما</h1>
</header>

<nav>
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Index" class="newBtn">خانه</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Login" class="newBtn">داروخانه</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="userLogin" class="newBtn">مشتری</a>
        </li>
        <li>
            <a href="#" class="newBtn">درباره ما</a>
        </li>
    </ul>
</nav>

<section>
    <h2>خوش آمدید به فارماسیب - داروخانه آنلاین</h2>
    <p>در فارماسیب، می‌توانید داروهای مورد نیاز خود را به راحتی سفارش دهید و تحویل بگیرید.</p>
</section>

<footer>
    <p>تمامی حقوق این وب‌سایت محفوظ است.</p>
    <p> Mammad Fatemi & Matin Aminsabouri</p>
</footer>
</body>
</html>