@{
    ViewData["Title"] = "درباره ما";
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>درباره ما</title>
    <style>
        body {
            background-color: #1a1e21;
        }
        header {
            text-align: center;
            color: #fff; 
            padding: 20px;
        }
        section {
            max-width: 800px; /* Limit content width for readability */
            margin: 20px auto; /* Center the section horizontally */
            padding: 20px;
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Drop shadow */
        }
        
        /* Style for the footer */
        footer {
            text-align: center;
            background-color: rgba(30,40,42,0.87); /* Footer background color */
            color: #fff; /* Text color */
            padding: 10px;
        }
        
        /* Style for headings */
        h1, h2 {
            color: rgba(0,0,0,0.89); /* Heading text color */
        }
        
        /* Style for paragraphs */
        p {
            line-height: 1.6; /* Line spacing for readability */
        }
        
        /* Style for links */
        a {
            text-decoration: none; /* Remove underlines from links */
            font-weight: bold; /* Make links stand out */
        }
        
        a:hover {
            text-decoration: underline; /* Add underline on hover */
        }
        h1, h2, p {
            font-family: 'Vazir', sans-serif;
        }
        .about-us-wrapper {
            background-color: rgba(0, 0, 0, 0.45);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            text-align: right;
        }
        
        /* Style for the text inside the wrapper */
        .about-us-text {
            font-family: 'Vazir', sans-serif;
            font-size: 18px;
            line-height: 1.5; /* Increase line height for better readability */
            color: #fff; /* White text color */
        }
        
        /* Center the header text */
        header {
            text-align: center;
            margin-bottom: 20px;
        }
        h1{
            color: #3a751b;
        }

    </style>
</head>
<body>
<div class="about-us-wrapper">
    <header>
        <h1>درباره ما</h1>
    </header>

    <section class="about-us-text">
        <h2>فارماسیب - از تیم Sprites</h2>
        <p>فارماسیب یک پروژه توسعه داده شده توسط تیم Sprites از دو دانشجو مهندسی کامپیوتر دانشگاه صنعتی اصفهان است. ما یک گروه جوان و علاقمند به برنامه‌نویسی هستیم که با هدف بهبود سیستم درمانی و داروخانه‌های آنلاین به ایجاد این پروژه پرداختیم. </p>
        <p>تیم ما از دو عضو جوان به نام‌های Matin و Mohammad تشکیل شده است. ما به دنبال افزایش مهارت‌های برنامه‌نویسی خود هستیم و با ایجاد PharmaSib تلاش می‌کنیم تا به بهبود و بهبود سیستم درمانی کشور خود کمک کنیم.</p>
    </section>
</div>
</body>
</html>